body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.feedback-form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Форма */
.form {
    background-color: #ffffff;
    border: 2px solid #ececec;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

.form__title {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
    color: #333333;
}

.form__field {
    margin-bottom: 15px;
}

.form__label {
    display: block;
    margin-bottom: 5px;
    font-size: 1em;
    color: #333333;
}

.form__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
}

.form__input:focus {
    border-color: #ba1735;
    outline: none;
}


.form__submit {
    width: 100%;
    padding: 10px;
    background-color: #ba1735;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    cursor: pointer;
}

.form__submit:hover {
    background-color: #757575;
}

/* Таблица */
.data-table {
    max-width: 100%;
    overflow-x: auto; 
}

.data-table__table {
    width: auto; 
    max-width: 100%; 
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; 
}
.data-table__table th,
.data-table__table td {
    padding: 10px;
    border: 1px solid #ba1735;
    text-align: left;
    white-space: normal; 
    word-wrap: break-word; 
    word-break: break-all; 
    max-width: 50ch; 
}


.data-table__table th {
    background-color: #ba1735;
    font-weight: bold;
}

/* Телефоны */
@media (max-width: 768px) {
    

    .form {
        padding: 20px; 
        max-width: 100%; 
        box-sizing: border-box; 
    }
    .form__input {
        font-size: 1em; 
    }

    .form__submit {
        padding: 15px; 
    }
    
    /* Для таблицы */
    .data-table {
        margin: 0; 
        box-sizing: border-box; 
    }

    .data-table__table {
        table-layout: fixed;
    }

    .data-table__table th,
    .data-table__table td {
        padding: 10px;
        border: 1px solid #ba1735;
        text-align: left;
        word-wrap: break-word; 
    }

}
